<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Blackjack</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Blackjack">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- CSS -->
    <link href="app.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="blackjack">
<div id="wrapper" ng-controller="gameController">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <img src="images/dealer.gif" class="person">
                <div class="spacer half"></div>
                 <span
                         class="label" ng-class="dealer.outOfGame? (dealer.wonGame?'label-success': 'label-danger'):'label-info'">Dealer</span>

                            <span ng-if="dealer.outOfGame && !dealer.wonGame" class="label">
                            Lost</span>
                             <span ng-if="dealer.outOfGame && dealer.wonGame" class="label">
                            Won</span>

            </li>

            <li>

                <div class="spacer"></div>
                                 <span class="card" ng-repeat="card in dealer.cards"
                                       ng-bind-html="card.face | unsafe"> </span>
            </li>
            <li>
            <li class="spacer"></li>
                <h4 style="padding-right: 30px" class="">
                    <span class="card-deck" ng-repeat="card in dealer.cardsDeck.cards">&#x1f0a0;</span>
                </h4>

            </li>
            <div class="form-group" >





                <a class="btn btn-default " ng-class="dealer.cards.length? 'disabled':''"
                   ng-click="dealer.deal(players)">Start to deal</a>

            </div>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid ">

            <div class="row player" ng-repeat="player in players track by $index">
                <div class="spacer"></div>

                <div class="col-sm-12">
                    <div class="media">

                        <div class="media-body text-right">
                            <div class="spacer"></div>

                            <div class="">


                                 <span class="card" ng-repeat="card in player.cards track by $index"
                                       ng-bind-html="card.face | unsafe"> </span>


                            </div>
                            <div class="spacer"></div>
                            <div class=""style="padding-right: 10px"
                                 ng-if="dealer.playerTurn ==(players.length - $index) && player.cards.length"

                                    >


                                <a class="btn btn-info hit btn-sm" ng-hide="player.outOfGame"
                                   ng-click="dealer.giveCard(player)">Hit me!
                                </a>

                                <div class="throwing-card">&#x1f0a0;</div>
                                <a class="btn btn-warning btn-sm"   ng-click="dealer.moveOn()">Stand</a>

                            </div>
                        </div>
                        <div class="media-right text-center">

                            <img class="media-object person" ng-src="images/{{player.name}}.gif">
<div class="spacer half"></div>
                            <span
                                    class="label " ng-class="player.outOfGame? (player.wonGame?'label-success': 'label-danger'):'label-info'">{{player.name}}</span>
                            <span ng-if="player.outOfGame && !player.wonGame" class="label">
                            Lost</span>
                             <span ng-if="player.outOfGame && player.wonGame" class="label">
                            Won</span>
                            <span ng-if="dealer.playerTurn ==(players.length - $index) &&player.cards.length>=2 && !player.outOfGame"
                                  class="label">
                            playing</span>
                        </div>

                    </div>

                </div>

            </div>
            <div class="spacer"></div>

        </div>
    </div>
</div>

<ng-include="startModal.html"></ng-include>

<ng-include="finishModal.html"></ng-include>


<!-- Bootstrapsm and libs -->
<script src="angular.min.js"></script>
<script src="ui-bootstrap-tpls.min.js"></script>


<!-- Scripts -->
<script src="app.js"></script>

</body>
</html>
