<div class="modal-header">
    <h3 class="modal-title">Blackjack</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">

            <div class="">
                <fieldset>


                    <div class="form-group">
                        <label for="select" class="">Select number of players</label>


                            <select class="form-control" id="select" ng-model="numberOfPlayers" name="numberOfPlayers">
                                <option>1</option>
                                <option>2</option>
                                <option>4</option>
                                <option>6</option>
                                <option>8</option>
                                <option>10</option>
                            </select>



                    </div>

                </fieldset>
            </div>


        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>

</div>
